html,body{
    overflow: hidden !important;
}
body{position:fixed;width:100%;height:100%;}
*{
    font-family: Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,\5FAE\8F6F\96C5\9ED1,Tahoma,\\5B8B\4F53,helvetica,Hiragino Sans GB !important;
}
.step>p{
    text-align: center;
}
.tips-control{
    position: relative;
    float: right;
    font-size: 12px;
    right: 20px;
    top:180px;
    animation: tips-kf 3s infinite linear;
}
@keyframes tips-kf {
    0% {opacity: 0;}
    65% {opacity: 1;}
    100% {opacity: 0;}
}

.step{
    width: 1000px;
    opacity: .2;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes caret {
    50% { border-right-color: transparent; }
}

.p_typing {
    /*width: 8.25em;*/
    display: inline-block;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .05em solid;
    animation: typing 8s steps(17),
    caret 1s steps(1) infinite;
}